@page "/LRAddEdit/{LrID:int?}"
@using Models
@using MauiAppFB.Components.Pages.VehiclesPage
@using MauiAppFB.Components.Pages.CargoPage
@using MauiAppFB.Components.Pages.LocationPage
@using MauiAppFB.Components.Pages.NotifyPage
@using MauiAppFB.Services
@inject VehiclesService VehicleService
@inject AccountsService AccountService
@inject LocationService LocationService
@inject CargoService CargoService
@inject LRService LRGridService
@inject NotifyService NotificationService
@inject PaytypeService  paytypeService
@inject IJSRuntime JS


<EditForm Model="@LR" OnValidSubmit="HandleValidSubmit">



    <DataAnnotationsValidator />

    <ValidationSummary />

    <div class="tabs">
        <button class="tab-button" @onclick="t1">BASIC</button>
        <button class="tab-button" @onclick="t2">SUPPLIER</button>
        <button class="tab-button" @onclick="t3">UNLOAD</button>
    </div>
    @if (activeTab == "TAB1")
    {


        //  <h5 class="">--Booking Details--</h5>
        <div class="d-flex align-items-center mb-3 flex-wrap">

            <!-- LrNo -->

            <div class="mb-3 me-4">

                <label for="LrNo" >Challan/LR Nostr:</label>

                <InputText id="LrNostr" @bind-Value="LR.LrNostr" step="0.01"
                class="form-control" style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>


            <!-- LrNo -->

            <div class="mb-3 me-4">

                <label for="LrNo">Challan/LR No:</label>

                <InputNumber id="LrNo" @bind-Value="LR.LrNo" step="0.01"
                           class="form-control" style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>

            <!-- LrDate -->

            <div class="mb-3 me-4">

                <label for="LRDate" >LrDate:</label>

                <InputDate id="LRDate" @bind-Value="LR.LrDate"

                class="form-control"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>



            <!-- Pay Mode  -->

            <div class="mb-3 me-4">

                <label for="payMode" >Pay Mode:</label>

                <InputSelect id="LrPaymenttype" @bind-Value="LR.LrPaymenttype"

                class="form-control"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;">

                    <option value="To Be Pay">To Be Pay</option>

                    <option value="Billed">Billed</option>

                </InputSelect>

            </div>



            <!-- Select Vehicle -->

            <div class="mb-3 me-4">

                <label for="LrVehicleId" >Vehicle No:<a @onclick="ShowVehiModal" style="color: black; font-size: 1.7rem; position: relative; bottom: -4px;">+</a></label>
                <InputSelect id="LrVehicleId" @bind-Value="LR.LrVehicleId" @onclick="LoadVehicles"

                class="form-control"

                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;">

                    <option value="">-- Select Vehicle --</option>

                    @foreach (var vehicle in vehicles)
                    {


                        <option value="@vehicle.VehicleId">@vehicle.VehicleNo</option>

                    }

                </InputSelect>

            </div>




            <!-- Select Party -->

            <div class="mb-3 me-4">

                <label for="party">Bill To Party:<a @onclick="ShowAccModal" style="color: black; font-size: 1.7rem; position: relative; bottom: -4px;"> + </a></label>

                <InputSelect id="partyName" @bind-Value="LR.Party_Name" class="form-control" @onclick="LoadParty"
                style="width: 290px; font-size: 0.9rem; padding: 0.25rem;">

                    <option value="">-- Select Party --</option>

                    @foreach (var accounts in Accounts)

                    {

                        <option value="@accounts.AccountId">@accounts.AccountName</option>

                    }

                </InputSelect>

            </div>

            <!-- From Location -->

            <div class="mb-3 me-4">

                <label for="party">From Location: <a @onclick="ShowLocationModal" style="color: black; font-size: 1.7rem; position: relative; bottom: -4px;">+</a></label>

                <InputSelect id="LrFromLocationId" @bind-Value="LR.LrFromLocationId" class="form-control" @onclick="Loadlocation"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;">

                    <option value="">-- Select location --</option>

                    @foreach (var Locations in locations)

                    {

                        <option value="@Locations.LocationId">@Locations.LocationName</option>

                    }

                </InputSelect>

            </div>


            <!-- To Location -->


            <div class="mb-3 me-4">

                <label for="party"> To Location:<a @onclick="ShowLocationModal" style="color: black; font-size: 1.7rem; position: relative; bottom: -4px;">+</a></label>

                <InputSelect id="LrToLocationId" @bind-Value="LR.LrToLocationId" class="form-control" @onclick="Loadlocation"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;">

                    <option value="">-- Select location --</option>

                    @foreach (var Locations in locations)

                    {

                        <option value="@Locations.LocationId">@Locations.LocationName</option>

                    }

                </InputSelect>

            </div>

            <!-- BACK Location -->


            <div class="mb-3 me-4">

                <label for="party"> Back Location:<a @onclick="ShowLocationModal" style="color: black; font-size: 1.7rem; position: relative; bottom: -4px;">+</a></label>

                <InputSelect id="LrBackLocationId" @bind-Value="LR.LrBackLocationId" class="form-control" @onclick="Loadlocation"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;">

                    <option value="">-- Select location --</option>

                    @foreach (var Locations in locations)

                    {

                        <option value="@Locations.LocationId">@Locations.LocationName</option>

                    }

                </InputSelect>

            </div>

            <!-- Product -->

            <div class="mb-3 me-4">

                <label >
                    Product:
                    <a style="color: black; font-size: 1.7rem; padding: 0.25rem;  position: relative; bottom: -2px;"
                    @onclick="ShowProductModal"> + </a>
                </label>

                <InputSelect id="LrProductId" @bind-Value="LR.LrProductId" class="form-control" @onclick="Loadcargo"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem; top:30cm " >
                    @foreach (var cargos in cargos)

                    {

                        <option value="@cargos.CargoId">@cargos.CargoName</option>

                    }

                </InputSelect>

            </div>
            <!-- Container 1 -->

            <div class="mb-3 me-4">

                <label for="con1">Container 1:</label>

                <InputText id="LrContainer1" @bind-Value="LR.LrContainer1" class="form-control"
                style="width: 150px; font-size: 0.9rem; padding: 0.30rem;" />

            </div>

            <!-- Container 2 -->

            <div class="mb-3 me-4">

                <label for="con2">Container 2:</label>

                <InputText id="LrContainer2" @bind-Value="LR.LrContainer2" class="form-control"
                style="width: 150px; font-size: 0.9rem; padding: 0.30rem;" />

            </div>

            <!-- Consignee Name -->

            <div class="mb-3 me-4">
                <label>
                    Consignee Name:
                    <a style="color: black; font-size: 1.7rem; padding: 0.25rem;  position: relative; bottom: -2px;"
                       @onclick="ShowNotifyModal"> + </a>
                </label>
                <InputSelect id="LrConsigneeNotifyId" @bind-Value="LR.LrConsigneeNotifyId" class="form-control" @onclick="LoadNotifyConsignee"
                style="width: 150px; font-size: 0.9rem; padding: 0.30rem;" >
                    <label for="con2">Container Name:</label>
                 @foreach (var notifi in Notifc)

                    {

                        <option value="@notifi.NotifyId">@notifi.NotifyName</option>

                    }
                    </InputSelect>
            </div>
            <!-- Consignee Address -->
            <div class="mb-3 me-4">
                <label for="LrConsigneeNotifyId">Consignee Address:</label>
                <InputSelect id="LrConsigneeNotifyId" @bind-Value="LR.LrConsigneeNotifyId" class="form-control"
                             style="width: 150px; font-size: 0.9rem; padding: 0.30rem;" readonly>
                    @foreach (var notifi in Notifc)
                    {
                        <option value="@notifi.NotifyId">@notifi.NotifyAddressfull</option>
                    }
                </InputSelect>
            </div>

            <!-- Consignee GST -->

            <div class="mb-3 me-4">

                <label for="con2">Consignee GST:</label>

                <InputSelect id="LrConsigneeNotifyId" @bind-Value="LR.LrConsigneeNotifyId" class="form-control"
                             style="width: 150px; font-size: 0.9rem; padding: 0.30rem;" readonly>

                @foreach (var notifi in Notifc)

                    {

                        <option value="@notifi.NotifyId">@notifi.NotifyGstNo</option>

                    }
                </InputSelect>
            </div>

            <!-- Consignor Name -->

            <div class="mb-3 me-4">
                <label>
                    Consignor Name:
                    <a style="color: black; font-size: 1.7rem; padding: 0.25rem;  position: relative; bottom: -2px;"
                       @onclick="ShowNotifyModal"> + </a>
                </label>
                <InputSelect id="LrConsignorNotifyId" @bind-Value="LR.LrConsignorNotifyId" class="form-control" @onclick="LoadNotifyConsignor"
                style="width: 150px; font-size: 0.9rem; padding: 0.30rem;" >
                    @foreach (var notifi in Notif)

                    {

                        <option value="@notifi.NotifyId">@notifi.NotifyName</option>

                    }
                </InputSelect>
            </div>
            <!-- Consignor Address -->

            <div class="mb-3 me-4">

                <label for="con2">Consignor Address:</label>

                <InputSelect id="LrConsignorNotifyId" @bind-Value="LR.LrConsignorNotifyId" class="form-control"
                             style="width: 150px; font-size: 0.9rem; padding: 0.30rem;" readonly>
                  @foreach (var notifi in Notif)

                    {

                        <option value="@notifi.NotifyId">@notifi.NotifyAddressfull</option>

                    }
                </InputSelect>
            </div>
            <!-- Consignor GST -->

            <div class="mb-3 me-4">

                <label for="con2">Consignor GST:</label>

                <InputSelect id="LrConsignorNotifyId" @bind-Value="LR.LrConsignorNotifyId" class="form-control"
                             style="width: 150px; font-size: 0.9rem; padding: 0.30rem;" readonly>
                 @foreach (var notifi in Notif)

                    {

                        <option value="@notifi.NotifyId">@notifi.NotifyGstNo</option>

                    }
                </InputSelect>
            </div>
            <!-- Reference By -->

            <div class="mb-3 me-4">

                <label for="LrRefby">Reference By:</label>

                <InputText id="LrRefby" @bind-Value="LR.LrRefby" class="form-control"
                style="width: 150px; font-size: 0.9rem; padding: 0.30rem;" />

            </div> 

            <!-- Custom Field -->

            <div class="mb-3 me-4">

                <label for="LrCustom1">Gross Weight:</label>

                <InputNumber id="LrGrosswt" @bind-Value="LR.LrGrosswt"
                class="form-control" step="0.01"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>





            <!-- Lr Tare Weight -->

            <div class="mb-3 me-4">

                <label for="LrTarewt">Tare Weight:</label>

                <InputNumber id="LrTarewt" @bind-Value="LR.LrTarewt" class="form-control" step="0.01"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>


            <!-- Invoice Number -->

            <div class="mb-3 me-4">

                <label for="LrInvoiceno">Invoice Number:</label>

                <InputText id="LrInvoiceno" @bind-Value="LR.LrInvoiceno" class="form-control"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>
            <!-- Invoice Date -->

            <div class="mb-3 me-4">

                <label for="LrInvoicedate">Invoice Date:</label>

                <InputText id="LrInvoicedate" @bind-Value="LR.LrInvoicedate" class="form-control"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>
            <!-- Invoice Value -->

            <div class="mb-3 me-4">

                <label for="LrInvoicevalue">Invoice Value:</label>

                <InputNumber id="LrInvoicevalue" @bind-Value="LR.LrInvoicevalue" class="form-control"
                             style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>

            <!-- E-Way Bill Number -->

            <div class="mb-3 me-4">

                <label for="LrEwaybillno">E-Way Bill Number:</label>

                <InputText id="LrEwaybillno" @bind-Value="LR.LrEwaybillno" class="form-control"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>
            <!-- E-Way Bill Date  

            <div class="mb-3 me-4">

            <label for="Ewaybilldate">E-Way Bill Date:</label>

            <InputDate id="Ewaybilldate" @bind-Value="LR.LrEwaybillno" class="form-control"
            style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div> -->
            <!-- GP/BE NO -->

            <div class="mb-3 me-4">

                <label for="LrEwaybillno">GP/BE NO :</label>

                <InputText id="LrEwaybillno" @bind-Value="LR.LrEwaybillno" class="form-control"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>


            <!-- Bill Type -->

            <div class ="mb-3 me-4">

                <label for="billtype" class="form-label">Bill Type:</label>

                <InputSelect id="LrTriptype" @bind-Value="LR.LrTriptype" @onclick="Loadpaytype"
                class="form-control"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;">


                    @foreach (var paytype in paytype)
                    {


                        <option value="@paytype.PayTypeName">@paytype.PayTypeName</option>

                    }

                </InputSelect>

            </div>


            <!-- Lr Load Weight -->

            <div class="mb-3 me-4">

                <label for="LrLoadwt">Load Weight:</label>

                <InputNumber id="LrLoadwt" @bind-Value="LR.LoadWt" class="form-control"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>



            <!-- Lr Unload Weight

            <div class="mb-3 me-4">

                <label for="LrUnloadwt">Unload Weight:</label>

                <InputNumber id="LrUnloadwt" @bind-Value="LR.un" class="form-control"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>



             -->





            <!-- Lr Ratebill -->

            <div class="mb-3 me-4">

                <label for="LrRatebill">Billing Rate:</label>

                <InputNumber id="LrRatebill" @bind-Value="LR.LrRatebill" class="form-control" step="0.01" @onclick="CalculateNetFreight"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>


            <!-- Gross Weight -->

            <div class="mb-3 me-4">

                <label for="LrGrossfreighttruck">Gross Freight:</label>

                <InputNumber id="LrGrossfreightbill" @bind-Value="LR.LrGrossfreightbill" class="form-control"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>


            <!-- Other Charges -->

            <div class="mb-3 me-4">

                <label for="othercharges">Other Charges:</label>

                <InputText id="LrCustom2" @bind-Value="LR.LrCustom2" class="form-control"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>



            <!-- Net Freight Bill -->

            <div class="mb-3 me-4">

                <label for="netfreight">Net Freight Bill:</label>

                <InputNumber id="LrGrossfreightbill" @bind-Value="LR.LrGrossfreightbill" class="form-control" @onchange="CalculateNetFreight"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" readonly />

            </div>



        </div>


    }




    @if (activeTab == "TAB2")
    {




        // <h5 class="">--Transport/Suppliers Details--</h5>

        <div class="d-flex align-items-center mb-3 flex-wrap">
            <!-- Supplier Name -->

            <div class="mb-3 me-4">

                <label for="SupplierName"> Supplier Name:  <a @onclick="ShowAccModal" style="color: black; font-size: 1.7rem; position: relative; bottom: -4px;"> + </a> </label>

                <div class="d-flex">

                    <!-- Assuming Supplier Name is a text input -->

                    <InputSelect id="LrSupplierAccountId" @bind-Value="LR.LrSupplierAccountId" class="form-control me-3" @onclick="LoadParty"

                    style="width: 230px; font-size: 0.9rem; padding: 0.25rem;" >

                        <option value="">-- Select Supplier --</option>

                        @foreach (var accounts in Accounts)

                        {

                            <option value="@accounts.AccountId">@accounts.AccountName</option>

                        }

                    </InputSelect>
                    <!-- Assuming LrSupplierAccountId is a number input -->

                    <InputNumber id="SupplierAccountId" @bind-Value="LR.LrSupplierAccountId" class="form-control" style="width: 90px; font-size: 0.9rem; padding: 0.25rem;" readonly />

                </div>

            </div>


            <!-- Payable Type -->

            <div class="mb-3 me-4">

                <label for="paybletype">Payable Type:</label>

                <InputSelect id="LrBilltypetruck" @bind-Value="LR.LrBilltypetruck" class="form-control" @onclick="Loadpaytype"
                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;">

                    @foreach (var paytype in paytype)
                    {


                        <option value="@paytype.PayTypeId">@paytype.PayTypeName</option>

                    }

                </InputSelect>

            </div>







            <div class="mb-3 me-4">

                <label for="PayableRate">Payable Rate:</label>

                <InputNumber id="LrBillratetruck" @bind-Value="LR.LrBillratetruck" class="form-control" step="0.01" @onclick="CalculatepayableFreight"

                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>


        </div>

        <div class="d-flex align-items-center mb-3 flex-wrap">
            <!-- Driver Name -->

            <div class="mb-3 me-4">

                <label for="DriverName">Driver Name: <a @onclick="ShowAccModal" style="color: black; font-size: 1.7rem; position: relative; bottom: -4px;"> + </a>  </label>

                <InputSelect id="LrDriverId" @bind-Value="LR.LrDriverId" class="form-control"

                style="width: 230px; font-size: 0.9rem; padding: 0.25rem;" >

                    <option value="">-- Select Driver --</option>

                    @foreach (var accounts in Accounts)

                    {

                        <option value="@accounts.AccountId">@accounts.AccountName</option>

                    }


                </InputSelect>

            </div>



            <!-- Pay Type -->

            <div class="mb-3 me-4">

                <label for="PayTYPE">Pay Type:</label>

                <InputSelect id="LrPaymenttype" @bind-Value="LR.LrPaymenttype" class="form-control"

                style="width: 150px; font-size: 0.9rem; padding: 0.700rem;">

                    <option value="SINGLE TRIP">SINGLE TRIP</option>

                    <option value="MULTIPLE">MULTIPLE</option>

                </InputSelect>

            </div>

        </div>

        <h5>--Driver Allowance--</h5>
        <div class="d-flex align-items-center mb-3 flex-wrap">
            <!-- Bhatta -->

            <div class="mb-3 me-4">

                <label for="Bhatta">Bhatta:</label>

                <InputText id="LrCustom4" @bind-Value="LR.LrCustom4" class="form-control"

                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>



            <!-- Diesel

            <div class="mb-3 me-4">

            <label for="Diesel">Diesel:</label>

            <InputNumber id="Diesel" @bind-Value="LR.Die" class="form-control"

            style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>  -->



            <!-- Urea -->

            <div class="mb-3 me-4">

                <label for="Urea">Urea:</label>

                <InputText id="LrCustom1" @bind-Value="LR.LrCustom1" class="form-control"

                style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>



            <!-- Opening Diesel-Urea -->

            <div class="mb-3 me-4">

                <label for="OpeningDieselUrea">Opening (Diesel - Urea):</label>

                <div class="d-flex">

                    <InputText id="LrCustom1" @bind-Value="LR.LrCustom1" class="form-control me-3"

                    style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

                    <InputText id="OpeningUrea" @bind-Value="LR.LrCustom1" class="form-control"

                    style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

                </div>

            </div>



            <!-- Payable Freight -->

            <div class="mb-3 me-4">

                <label for="payablefreight">Payable Freight:</label>

                <div class="d-flex">

                    <InputNumber id="LrGrossfreighttruck" @bind-Value="LR.LrGrossfreighttruck" class="form-control me-3" @onchange="CalculatepayableFreight"
                    style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" readonly />

                    <InputNumber id="PayableFreight2" @bind-Value="LR.LrGrossfreighttruck" class="form-control" @onchange="CalculatepayableFreight"
                    style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" readonly />

                </div>

            </div>
        </div>




    }


    @if (activeTab == "TAB3")
    {

        //<h5 class="">--Reporting & Detention--</h5>


        <div class="d-flex align-items-center mb-3 flex-wrap">


            <div class="mb-3 me-4">

                <label for="ReportDate">ReportDate:</label>

                <InputText id="LrReportDate" @bind-Value="LR.LrReportDate" class="form-control" style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>



            <div class="mb-3 me-4">

                <label for="unoadDate">Unoad Date:</label>

                <InputText id="LrUnloadDate" @bind-Value="LR.LrUnloadDate" class="form-control" style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>



            <div class="mb-3 me-4">

                <label for="POD">POD Rec.Dt:</label>

                <InputText id="LrPodDate" @bind-Value="LR.LrPodDate" class="form-control" style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>



            <div class="mb-3 me-4">

                <label for="Day(Party)">Day(Party):</label>

                <InputText id="LrCustom4" @bind-Value="LR.LrCustom4" class="form-control" style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>

            <div class="mb-3 me-4">

                <label for="Rate">Rate(Party)</label>

                <InputText id="LrCustom4" @bind-Value="LR.LrCustom4" class="form-control" style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>

            <div class="mb-3 me-4">

                <label for="POD">Amount:</label>

                <InputText id="LrCustom4" @bind-Value="LR.LrCustom4" class="form-control" style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>

        </div>

        <div class="d-flex align-items-center mb-3 flex-wrap">
            <div class="mb-3 me-4">

                <label for="POD">Return Date:</label>

                <InputText id="LrReturnDate" @bind-Value="LR.LrReturnDate" class="form-control" style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>

            <div class="mb-3 me-4">

                <label for="POD">POD Sub.Dt:</label>

                <InputText id="POD" @bind-Value="LR.LrCustom1" class="form-control" style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>

            <div class="mb-3 me-4">

                <label for="POD">Day(Supplier)</label>

                <InputText id="LrCustom1" @bind-Value="LR.LrCustom1" class="form-control" style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>

            <div class="mb-3 me-4">

                <label for="POD">Rate(Supplier)</label>

                <InputText id="LrCustom1" @bind-Value="LR.LrCustom1" class="form-control" style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>

            <div class="mb-3 me-4">

                <label for="POD">Amount</label>

                <InputText id="LrCustom1" @bind-Value="LR.LrCustom1" class="form-control" style="width: 150px; font-size: 0.9rem; padding: 0.25rem;" />

            </div>


        </div>
    }


    <button type="submit" class="btn btn-primary" >@ButtonText</button>

    <button type="button" class="btn btn-secondary" @onclick="Close">Cancel</button>





</EditForm>
<NotifyAddEdit Notification="selectedNotification"
               Title="@modalTitle"
               ButtonText="@modalButtonText"
               IsVisible="@isModalVisible"
               OnClose="CloseModal"
               OnSubmit="SaveNotification" />
<AccountsAddEdit Account="selectedAccount"
Title="@modalTitle"
ButtonText="@modalButtonText"
IsVisible="@IsAccountModalVisible"  
OnClose="CloseModal"
OnSubmit="SaveAccount" />

<VehiclesAddEdit   Vehicle="selectedVehicle"
Title="@modalTitle"
ButtonText="@modalButtonText"
IsVisible="@IsVehicleModalVisible"
OnClose="CloseModal"
OnSubmit="SaveVehicle" />

<LocationAddEdit Location="selectedLocation"
Title="@modalTitle"
ButtonText="@modalButtonText"
IsVisible="@IsLocationModalVisible"
OnClose="CloseModal"
OnSubmit="SaveLocation" />

<CargoAddEdit Cargo="selectedCargo"
Title="@modalTitle"
ButtonText="@modalButtonText"
IsVisible="@IsCargoModalVisible"
OnClose="CloseModal"
OnSubmit="SaveCargo" />


@code {

    private string activeTab = "TAB1";

    private void t1()
    {
        activeTab = "TAB1";
    }
    private void t2()
    {
        activeTab = "TAB2";
    }
    private void t3()
    {
        activeTab = "TAB3";
    }

    [Parameter] public int? LRId { get; set; }




    [Parameter] public Lr LR { get; set; } = new();

    [Parameter] public string Title { get; set; } = "Add LR";

    [Parameter] public string ButtonText { get; set; } = "Add";

    [Parameter] public bool IsVisible { get; set; }

    [Parameter] public EventCallback OnClose { get; set; }

    [Parameter] public EventCallback OnSubmit { get; set; }

    [Inject] private NavigationManager NavigationManager { get; set; }


    private async Task HandleValidSubmit()

    {

        await SaveLRGrid();

    }

    private void Close()
    {
        NavigationManager.NavigateTo("/LrGRid");
    }
    private Cargo selectedCargo = new Cargo();
    private Locations selectedLocation = new Locations();
    private Vehicles selectedVehicle = new Vehicles();
    private Account selectedAccount = new Account();
    private Notify selectedNotification = new Notify();
    private bool IsNotifyModalVisible => isModalVisible && activeModal == "Notification";
    private bool IsAccountModalVisible => isModalVisible && activeModal == "Account";
    private bool IsVehicleModalVisible => isModalVisible && activeModal == "Vehicle";
    private bool IsLocationModalVisible => isModalVisible && activeModal == "Location";
 
    private bool IsCargoModalVisible => isModalVisible && activeModal == "Product";
    

    private string modalTitle = string.Empty;
    private string modalButtonText = string.Empty;
    private bool isModalVisible = false;
    private string activeModal = string.Empty;



    private void ShowAccModal()
    {
        selectedAccount = new Account();
        modalTitle = "Add Account";
        modalButtonText = "Add";
        isModalVisible = true;
        activeModal = "Account";
    }
    private void ShowVehiModal()
    { 
        selectedVehicle = new Vehicles();
        modalTitle = "Add Vehicle";
        modalButtonText = "Add";
        isModalVisible = true;
        activeModal = "Vehicle";
    }
    private void ShowLocationModal()
    {
        selectedLocation = new Locations();
        modalTitle = "Add Location";
        modalButtonText = "Add";
        isModalVisible = true;
        activeModal = "Location";
    }
    private void ShowProductModal()
    {
        selectedCargo = new Cargo();
        modalTitle = "Add Cargo";
        modalButtonText = "Add";
        isModalVisible = true;
        activeModal = "Product";
    }
    private void ShowNotifyModal()
    {
        selectedNotification = new Notify();
        modalTitle = "Add Consignee/Consignor";
        modalButtonText = "Add";
        isModalVisible = true;
        activeModal = "Consignee/Consignor";
    }
    private void CloseModal()
    {
        isModalVisible = false;
    }
    private async Task SaveAccount()
    {
        try
        {
            if (selectedAccount.AccountId == 0) // Add new account
            {
                await AccountService.AddAccountsAsync(selectedAccount);
            }
            else // Update existing account
            {
                await AccountService.UpdateAccountsAsync(selectedAccount);
            }

            // Refresh the list
            CloseModal();
        }
        catch (Exception ex)
        {
            errorMessage = $"Error saving account: {ex.Message}";
        }
    }

    private async Task SaveVehicle()
    {
        try
        {
            if (selectedVehicle.VehicleId == 0) // Add new vehicle
            {
                await VehicleService.AddVehicleAsync(selectedVehicle);
            }
            else // Update existing vehicle
            {
                await VehicleService.UpdateVehicleAsync(selectedVehicle);
            }

            // Refresh the list
            CloseModal();
        }
        catch (Exception ex)
        {
            errorMessage = $"Error saving vehicle: {ex.Message}";
        }
    }
    private async Task SaveLocation()
    {
        try
        {
            if (selectedLocation.LocationId == 0) // Add new location
            {
                await LocationService.AddLocationAsync(selectedLocation);
            }
            else // Update existing location
            {
                await LocationService.UpdateLocationAsync(selectedLocation);
            }

            // Refresh the list
            CloseModal();
        }
        catch (Exception ex)
        {
            errorMessage = $"Error saving location: {ex.Message}";
        }
    }

    private async Task SaveCargo()
    {
        try
        {
            if (selectedCargo.CargoId == 0) // Add new cargo
            {
                await CargoService.AddCargoAsync(selectedCargo);
            }
            else // Update existing cargo
            {
                await CargoService.UpdateCargoAsync(selectedCargo);
            }

            // Refresh the list
            CloseModal();
        }
        catch (Exception ex)
        {
            errorMessage = $"Error saving cargo: {ex.Message}";
        }
    }


    private async Task SaveNotification()
    {
        try
        {
            if (selectedNotification.NotifyId == 0) // Add new notification
            {
                await NotificationService.AddNotifyAsync(selectedNotification);
            }
            else // Update existing notification
            {
                await NotificationService.UpdateNotifyAsync(selectedNotification);
            }

            // Refresh the list
            CloseModal();
        }
        catch (Exception ex)
        {
            errorMessage = $"Error saving notification: {ex.Message}";
        }
    }    // The list of vehicles
    private List<Notify> Notif = new List<Notify>();
    private List<Notify> Notifc = new List<Notify>();
    private List<Vehicles> vehicles = new List<Vehicles>();
    private List<Account> Accounts = new List<Account>();
    private List<Locations> locations = new List<Locations>();
    private List<Cargo> cargos = new List<Cargo>();
     private List<Paytype> paytype = new List<Paytype>();
    private Lr selectedLRGrid = new Lr();
    private string? errorMessage;

    protected override async Task OnInitializedAsync()

    {


        if (LRId.HasValue && LRId.Value > 0) // Check if LRId is present (Edit Mode)
        {
            try
            {
                var response = await LRGridService.GetLRsIDAsync(LRId.Value); // Fetch existing LR
                if (response != null && response != null)  // Check if response contains LR
                {
                    LR = response;
                    // Assign the actual Lr object
                    Title = "Edit LR";
                    ButtonText = "Update";
                }
                else
                {
                    LR = new Lr(); // Ensure LR is not null
                    Title = "Add LR";
                    ButtonText = "Add";
                }
            }
            catch (Exception ex)
            {
                errorMessage = $"Error loading LR data: {ex.Message}";
            }
        }
        else // Add Mode (New Entry)
        {
            LR = new Lr(); // Initialize an empty LR object
            Title = "Add LR";
            ButtonText = "Add";
        }

        //  var response = await AccountService.GetAccountsAsync();

        // Accounts = response.Accounts;



    }

    // Simulate fetching vehicles from a backend or service
    private async Task LoadVehicles()
    {

        var response = await VehicleService.GetVehiclelistAsync();
        vehicles = response.vehicles;



    }
    private async Task LoadNotifyConsignee()
    {

        var response = await NotificationService.GetNotifyConsigneeAsync();
        Notifc = response;



    }
    private async Task LoadNotifyConsignor()
    {

        var response = await NotificationService.GetNotifyConsignorAsync();
        Notif = response;



    }
    private async Task Loadpaytype()
    {

        var response = await paytypeService.GetPaytypesAsync();
            paytype = response.payTypes;


    }

    private async Task LoadParty()
    {

        var response = await AccountService.GetAccountslistAsync();
        Accounts = response.Accounts;



    }
    private async Task Loadlocation()
    {

        var response = await LocationService.GetLocationslistAsync();
        locations = response.locations;

    }
    private async Task Loadcargo()
    {

        var response = await CargoService.GetCargoslistAsync();
        cargos = response.Cargos;

    }



    private async Task SaveLRGrid()
    {
        try
        {
            if (selectedLRGrid.LrID == null)
            {
                errorMessage = "selectedLRGrid is null!";
                Console.WriteLine("selectedLRGrid is null!");
                return;
            }

            Console.WriteLine($"selectedLRGrid: {System.Text.Json.JsonSerializer.Serialize(selectedLRGrid)}");

            if (selectedLRGrid.LrID == 0) // Add new LRGrid
            {
                Console.WriteLine("Adding new LRGrid...");
                await LRGridService.AddLRAsync(selectedLRGrid);
            }
            else // Update existing LRGrid
            {
                Console.WriteLine($"Updating LRGrid with LrID: {selectedLRGrid.LrID}");
                await LRGridService.UpdateLRAsync(selectedLRGrid);
            }

            // Refresh the list
            Close();
        }
        catch (Exception ex)
        {
            errorMessage = $"Error saving LRGrid: {ex.Message}";
            Console.WriteLine($"Exception: {ex.Message}");
        }
    }




  


    private void CalculateNetFreight()
    {
        // Update based on the selected Bill Type
        @if (LR.LrTriptype == "RATE * WT"){
            // Calculate Net Freight Bill using Rate and Load Weight
            LR.LrGrossfreightbill = LR.LrRatebill * LR.LoadWt;
        }
        else if(LR.LrTriptype=="FIXED")
        {
            LR.LrGrossfreightbill = LR.LrBillratetruck;
        }
        
        
}
    private void CalculatepayableFreight()
    {
        // Update based on the selected Bill Type

        // Calculate Net Freight Bill using Rate and Load Weight
        LR.LrGrossfreighttruck = LR.LrBillratetruck * LR.LoadWt;

    }
   

}



            <style>
    /* ====== GENERAL STYLES ====== */
    body {
        background: linear-gradient(135deg, #E3F2FD, #90CAF9);
        font-family: 'Poppins', sans-serif;
    }
    /* ====== TAB STYLING ====== */
    .tabs {
        display: flex;
        gap: 10px;
        padding-bottom: 15px;
        justify-content: center;
    }

    .tab-button {
        flex: 1;
        padding: 14px 20px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        background: linear-gradient(135deg, #42a5f5, #1e88e5);
        color: white;
        border: none;
        border-radius: 10px 10px 0 0;
        transition: all 0.3s ease-in-out;
    }

        .tab-button:hover {
            background: linear-gradient(135deg, #1e88e5, #1565c0);
        }

        .tab-button.active {
            background: linear-gradient(135deg, #0d47a1, #1565c0);
            transform: scale(1.05);
        }

    /* ====== CIRCULAR ADD BUTTONS 
    .small-circle-button {
        background: linear-gradient(135deg, #1e88e5, #1565c0);
        color: white;
        border: none;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 1.2rem;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    }

        .small-circle-button:hover {
            background: linear-gradient(135deg, #0d47a1, #1565c0);
            transform: scale(1.15);
        }
            ====== */
   
</style>